

  <ion-header collapse="condense">
    <!-- <ion-icon size="large" name="chevron-back-outline" [routerLink]="['/video-horror-user01']"></ion-icon> -->
    <ion-icon id="icon_back"  name="chevron-back-outline" [routerLink]="['/video-horror-user01']"></ion-icon>
    <label [routerLink]="['/video-horror-user01']" class="label_icon">หน้าหลัก</label>
   
    <div class="ion-text-center" id="text04">{{videohorror.horror_name}}</div>

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400&family=Prompt:wght@300&family=Sarabun:wght@200&display=swap"
      rel="stylesheet" />
  </ion-header>
  <ion-content class="ion-padding">
  <br><br>



  <video 
  width="100%" 
  height="25%" 
  controls
    id="video01" 
    [src]="videohorror.video_horror"
    type="video/mp4"
    #videoPlayer
    (cilck)="toggleVideo()">
  </video><br><br>

  <ion-avatar>
    <ion-img src="../assets/pic/profile12.png"></ion-img>
  </ion-avatar>
  <ion-text id="textAdmin">Admin </ion-text><br>


<ion-text id="text00">หมวดหมู่ : {{videohorror.horror_category}}</ion-text><br>
<ion-text class="text02" id="open-modal">ดูเพิ่มเติม...</ion-text>


<ion-text id="subtitles"> {{videohorror.horror_details}} </ion-text><br><br><br>
  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <ion-content><br>
        <div class="ion-text-center"> <ion-label id="label02">ข้อมูลเพิ่มเติม</ion-label></div>
        <ion-list lines="none">
          <ion-item>
            <ion-label id="label11">หมวดหมู่ : {{videohorror.horror_category}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label id="label11">นักแสดง : {{videohorror.actor}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label id="label11">ผู้กำกับ : {{videohorror.director}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>