ion-content {
    --ion-background-color: linear-gradient(to right,#d3ebf8, #d3ebf8,#d3ebf8 );

}
ion-label{
    font-family: 'Noto Sans Thai', sans-serif;
    margin-left: 35px;
    padding: 12px;
    border-radius: 50px;
    stroke-linecap: round;
    font-size: 17.5px;
}
ion-input{
    
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 17pxs;
    margin-left: -85px;
    width: 320px;
    height: 45px;
    left: 120px;
    // background: #D9D9D9;
    background: #e5e4e4;
    border-radius: 16px;
    
}
button {
    // --background: linear-gradient(to right, #48C3EB  , #718EDD);
    font-family: 'Noto Sans Thai', sans-serif;
    color: #ffffff;
    width: 142px;
    height: 50px;
    font-size: 16px;
    background-color: #1e4d93;
    border-radius: 25px;
    margin-left: 120px;
}
ion-title {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 21px;
    margin-top: 11.5px;
}
#label01{
    margin-left: 3%;
    font-size: 16.5px;
    margin-top: 320px;
    position: absolute;
}
ion-alert{
    font-family: 'Noto Sans Thai', sans-serif;
}
ion-img{
    margin-left: 20px;
    height: 50px;
    width: 50px;
}
#email{
    font-size: 19px;
    margin-top: 30px;
}
#iconEmail{
    position: absolute;
    margin-left: 100px;
    margin-top: 3px;
    color: rgb(90, 90, 90);
    font-size: 22px;
}
ion-item {
    border-radius: 20px;
    border: 2px solid #5193B3;
    // background-color: #5193B3;
    // margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
}
.label02{
    position: absolute;
    margin-top: -5px;
    margin-left: 105px;
    color: red;
    font-size: 16px;
}

// ปุ่มกลับ
#icon_back{
    font-size: 25px;
    margin-left: 12px;
    margin-top: 30px;
    color:#012661;
}
.label_icon{
    color:#012661;
    font-family: 'Noto Sans Thai', sans-serif;
    margin-top: 31px;
    margin-left: -2.5px;
    font-size: 16px;
    position: absolute;
}
ion-header{
    backdrop-filter: blur(1.5px);
    background-color: #ffffff1a;
}
ion-img {
    width: 150px;
    height: 150px;
    margin-left: 120px;
}
ion-alert{
    font-family: 'Noto Sans Thai', sans-serif;

}