
  <ion-header collapse="condense">
    <ion-icon id="icon_back"  name="chevron-back-outline" [routerLink]="['/forgot-password01']"></ion-icon>
    <label [routerLink]="['/forgot-password01']" class="label_icon">ย้อนกลับ</label>
    <!-- <ion-icon size="large" name="chevron-back-outline" [routerLink]="['/forgot-password01']"></ion-icon><br><br><br><br> -->
    <ion-title style="color: #293556;">อีเมลของคุณหรือไม่?</ion-title><br>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400&family=Prompt:wght@300&family=Sarabun:wght@200&display=swap"
      rel="stylesheet" />

  </ion-header>
  <ion-content [fullscreen]="true">
  <ion-label id="label01"  style="color:#012661;">หากดำเนินการต่อเราจะส่งรหัสยืนยันผ่านอีเมลของคุณ</ion-label>
  <br><br><br><br><br><br>
  
  <ion-avatar>
    <ion-img  [src]="member.profile_pic"></ion-img>
  </ion-avatar><br><br><br><br><br><br><br>
  <!-- <ion-label position="floating" style="font-size: 20px;">อีเมล</ion-label><br> -->
  

    <ion-icon id="iconEmail" name="mail"></ion-icon>
    <ion-label style="font-size: 17px; margin-left: 120px;" id="email">{{member.email}}</ion-label>
    

  <!-- <ion-input ></ion-input> -->
  <br><br><br><br><br><br>
  <br><br>
  <br>


  <div class="text-center">
    <button  shape="round"
     (click)="confirmAccount()" id="present-alert">ยืนยันอีเมล</button>
    <!-- <ion-alert (click)="setOpen(true)"[routerLink]="['/forgot-password03']"
  [isOpen]="isAlertOpen"
  header="คุณส่งอีเมลสำเร็จ !"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert> -->
  </div>
  <ion-label  class="label02" (click)="ThisNotEmail()"><u>ไม่ใช่อีเมลของคุณใช่ไหม</u></ion-label>
  <ion-alert
  trigger="present-alert"
  header="เรากำลังจัดส่งรหัสผ่านยืนยืนทางอีเมลให้คุณ"
  [buttons]="alertButtons"
></ion-alert>
</ion-content>