
  <ion-header collapse="condense">
 <ion-icon id="icon_back"  name="chevron-back-outline" [routerLink]="['/forgot-password03']"></ion-icon>
    <label [routerLink]="['/forgot-password03']" class="label_icon">ย้อนกลับ</label>
   
    <ion-title style="color: #293556;">กรอกรหัสผ่านใหม่</ion-title><br>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400&family=Prompt:wght@300&family=Sarabun:wght@200&display=swap"
      rel="stylesheet" />

  </ion-header>
<ion-content [fullscreen]="true"><br><br>

  <ion-label id="label01">กรุณากรอกรหัสผ่านเพื่อสร้างรหัสผ่านใหม่</ion-label>
  <br><br><br><br><br>
  <img  src="../assets/pic/img-otp.svg" alt="">

  <ion-label>รหัสผ่านใหม่</ion-label><ion-label id="RR">*</ion-label><br>
  <ion-input type="password" [(ngModel)]="password"></ion-input>
  <br>
  <br>

  <div class="text-center">
    <button shape="round" (click)="resePassword(password)">ยืนยัน</button>
  </div>
</ion-content>