
  <ion-header collapse="condense">
    <ion-icon id="icon_back"  name="chevron-back-outline" [routerLink]="['/forgot-password02']"></ion-icon>
    <label [routerLink]="['/forgot-password02']" class="label_icon">ย้อนกลับ</label>
   
    <!-- <ion-icon size="large" name="chevron-back-outline" [routerLink]="['/forgot-password02']"></ion-icon><br><br><br><br> -->
    <ion-title style="color: #293556; ">กรอกรหัสผ่านยืนยัน</ion-title><br>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400&family=Prompt:wght@300&family=Sarabun:wght@200&display=swap"
      rel="stylesheet" />

  </ion-header>
  <ion-content [fullscreen]="true"> <br><br>
  <ion-label id="label01">เราได้ส่งรหัสยืนยันไปที่ </ion-label> <ion-label id="label_email" style="color: rgb(55, 124, 197);">{{member.email}}</ion-label>
  <br><br><br><br>

  <img  src="../assets/pic/img-hero-bulk.svg" alt="">

  
  <br><br>
  <ion-label >รหัสผ่านยืนยัน</ion-label><ion-label id="RR">*</ion-label><br>
  <ion-input  type="password" [(ngModel)]="comfirmPassword"></ion-input>
  <br>
  <br>


  <div class="text-center">
    <button shape="round" (click)="confirmPassword(comfirmPassword)">ยืนยัน</button>
  </div><br>
  <ion-label  style="font-size: 16.5px;">ยังไม่ได้รับรหัสยืนยันใช่ไหม?</ion-label><ion-label [routerLink]="['/forgot-password02']" style="margin-left: -13px; font-size: 16.5px; color:#012661;"><u > ยืนยันอีเมลอีกครั้ง</u></ion-label>
</ion-content>