
  <ion-header collapse="condense">
    <ion-icon id="icon_back"  name="chevron-back-outline" [routerLink]="['/home']"></ion-icon>
    <label [routerLink]="['/home']" class="label_icon">ย้อนกลับ</label>
   
    <!-- <ion-icon size="large" name="chevron-back-outline" [routerLink]="['/home']"></ion-icon><br><br><br><br> -->
    <ion-title style="color: #293556;">ค้นหาบัญชีของคุณ</ion-title><br>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400&family=Prompt:wght@300&family=Sarabun:wght@200&display=swap"
      rel="stylesheet" />

  </ion-header>
<ion-content [fullscreen]="true">
  <br><br><br><br>
  <img id="img" width="180px" src="../assets/pic/Circle-icons-mail.svg.png" alt=""><br><br>
  <ion-label style=" color:#012661;" id="label01">โปรดป้อนอีเมลของคุณเพื่อรับรหัสผ่านยืนยัน</ion-label>
  <br><br><br>
  

  <ion-label position="floating">อีเมล</ion-label><label style="color: tomato;">*</label>
  <ion-input [(ngModel)] = "member.email"></ion-input>
  <br>
  <br>


  <div class="text-center">
    <button  shape="round"
     (click)="forgotEmail(member.email)">ค้นหาอีเมล</button>
    <!-- <ion-alert (click)="setOpen(true)"[routerLink]="['/forgot-password02']"
  [isOpen]="isAlertOpen"
  header="คุณส่งอีเมลสำเร็จ !"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert> -->

  </div>
</ion-content>