ion-content {
    --ion-background-color: linear-gradient(to right,#d3ebf8, #d3ebf8,#d3ebf8 );

    // --ion-background-color: #f0f2f5;
    //  --ion-background-color: #ECF3FF;
    //  --ion-background-color: #E4F0F6;
    //  --ion-background-color: #ECF3FF;
    //  --ion-background-color: #ECF3FF;
    //  --ion-background-color: #ECF3FF;
    //  --ion-background-color: #ECF3FF;
    //  --fds-spectrum-blue-gray-tint-70: #CFD1D5;

}
// .content{
        // background: linear-gradient(to right,#E4F0F6, #ECF3FF );

// }
ion-label{
    font-family: 'Noto Sans Thai', sans-serif;
    margin-left: 26px;
    padding: 12px;
    border-radius: 50px;
    stroke-linecap: round;
    font-size: 17.5px;
}
ion-input{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 17px;
    margin-left: -85px;
    width: 320px;
    height: 45px;
    left: 120px;
    // background: #D9D9D9;
    // background: #e5e4e4;
    background-color: white;
    border-radius: 20px;
    padding: 200px;
}
button {
    // --background: linear-gradient(to right, #48C3EB  , #718EDD);
    height: 50px;
    font-size: 16px;
    background-color: #1e4d93;
    border-radius: 25px;
    font-family: 'Noto Sans Thai', sans-serif;
    color: #ffffff;
    margin-left: 100px;
    width: 185px;
}
ion-title {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 25px;
}
ion-alert{
    font-family: 'Noto Sans Thai', sans-serif;
}
// ปุ่มกลับ
#icon_back{
    font-size: 25px;
    margin-left: 12px;
    margin-top: 30px;
    color:#012661;
}
.label_icon{
    font-family: 'Noto Sans Thai', sans-serif;
    margin-top: 31px;
    margin-left: -2.5px;
    font-size: 16px;
    position: absolute;
    color:#012661;
}
// header เบลอ
ion-header{
    backdrop-filter: blur(10px);
    background-color: #d3ebf8;
}
ion-avatar{
    margin-left: 130px;
    height: 130px;
    width: 130px;
}
// #icon_User{
//  font-size: 18px;
//  margin-left: 165px;
// }
#label_user{
    // position: absolute;
    margin-left: -6px;
    // margin-top: -15.5px;
    // font-size: 18px;
}
// ชื่อภาพยนตร์จัดกึ่งกลาง
.ion-text-center {
    text-align: center;
  }
.default-alert{
    --background: #161e2c!important;   
    --color:#FF0000!important;
    --border-radius:5px!important;
}
#ForGOT{
    font-size: 16px;
    color: #012661;
    position: absolute;
    margin-left: 173px;
    margin-top: -5px;
}
ion-button{
    margin-left: 100px;
    font-family: 'Noto Sans Thai', sans-serif;

}